.App {
    text-align: center;
  }
  
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .option-card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .option-card:hover {
    transform: scale(1.05);
  }
  
  .option-image img {
    width: 100%;
    border-radius: 5px;
  }
  
  .option-details {
    padding: 10px 0;
  }
  
  .option-details h2 {
    margin: 5px 0;
  }
  
  .option-details p {
    margin: 5px 0;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  /*App.css */
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: calc(100% - 12px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }